<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>회원가입 창</title>
</head>

<body th:align="center">
	<h1>회원가입 화면입니다.</h1>
	<form action="/join" method="post">
	<table th:align="center" border="1" th:cellspacing="0" th:cellpadding="0">
		<tr>
			<td bgcolor="pink">id를 입력하세요</td>
			<td><input type="text" name="username" placeholder="Username"></td>
		</tr>
		<tr>
			<td bgcolor="pink">password를 입력하세요</td>
			<td><input type="password" name="password" placeholder="Password"></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="submit" value="회원가입 완료"></td>
		</tr>
	</table>
	</form>
</body>

</html>